@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,300&display=swap');

root{
    --primaryColor: hsl(14, 90%, 53%);
    --primaryColorLight: hsl(14, 96%, 91%);
    --bgColor: hsl(0, 0%, 100%);
    --formColor: hsl(20, 42%, 87%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 18%);
    --greyColor: hsl(0, 0%, 51%);
    --inputColor: hsl(330, 12%, 97%);
    --cardColor: hsl(300, 3%, 94%);

    /*Font and topography*/
    --biggestFontSize: 2.5rem;
    --h1FontSize: 1.6rem;
    --h2FontSize: 1.25rem;
    --h3FontSize: 1rem;
    --normalFontSize: 0.938rem;
    --smallFontSize: 0.813rem;
    --smallestFontSize: 0.75rem;
    --borderRadius: 3rem;
}
.destination{
    .secContainer{
        .redText{
            color: var(--primaryColor);
            font-size: var(--smallFontSize);
            font-weight: 500;
        }
        h3{
            font-size: var(--h1FontSize);
        }
        .searchField{
            margin-top: 0rem;
            gap: .1rem;
            .inputField{
                background: var(--primaryColorLight);
                padding: 1rem;
                border-radius: var(--borderRadius);
                gap: .5rem;
                margin-top: 6px;

                input{
                    background: transparent;
                    border: none;
                    outline: none;
                    width: 100%;
                }
                .icon{
                    color: var(--blackColor);
                }
            }
            
            .btn{
                gap: .2rem;
                margin: auto;
                margin-top: 8px;
                width: 100%;
                align-items: start;
                justify-content: start;
                background-color: var(--primaryColor);
                border-radius: var(--borderRadius);
                padding: 1rem;

                &:hover{
                    color: var(--primaryColor);
                    background: rgba(94, 49, 58, 0.377);
                }
            }
        }
        .secMenu{
            display: none;
        }
        .destinationContainer{
            margin-top: 2rem;

            .singleDestination{
                position: relative;
                overflow: hidden;
                border-radius: 1rem;
                height: 260px;

                .imgDiv{
                    position: relative;
                    height: 100%;
                    width: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        transition: all .3s ease-in-out;
                        
                
                    }
                }
                &:hover{
                    .imgDiv{
                        img{
                            scale:1.1;
                        }
                    }
                }
                .descInfo{
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    width: 100%;
                    padding: 1rem 2rem 1rem;
                    justify-content: space-between;

                    &::after{
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        left: 0;
                        bottom: 0;
                        background: linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 0),
                            rgba(0, 0, 0, 0.76)
                        );
                        z-index: -1;
                    }

                    .text{
                        gap: .5rem;
                        color: var(--whiteColor);

                        .name{
                            display: block;
                            font-weight: 500;
                            padding-bottom: .3rem;
                            font-weight: var(--h2FontSize);
                            
                            
                        }
                        .flex, .icon{
                            font-size: var(--normalFontSize);
                        }
                    }
                    .rating{
                        padding: 8px 1rem;
                        border-radius: var(--borderRadius);
                        background: rgba(245, 245, 245, 0.37);
                        border: 1.5px solid rgba(255, 255, 255, 0.241);
                        font-size: var(--h3FontSize);
                        font-weight: 600;
                        color: var(--whiteColor);
                        
                    }
                }
            }
        }
    }

}